.products{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    margin: 20px 0;

}

.products-header{
    display: flex;
    align-items: center;
}

.toggle-filters-button{
    display: none;
}



.filters-desktop{
    width: 100%;
    display: flex;
    align-items: center;
    
}



/* Base styles for the slider */
.my-slider {
    width: 200px;
   height: 10px;
    border-radius: 5px;
  
    margin: 0 20px;
  }
  
  /* Styles for the slider thumb */
  .my-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #8f8833;
    cursor: grab;
    outline: none;
    border: none;
    top: -5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    -webkit-transition: box-shadow 0.2s ease-in-out;
    transition: box-shadow 0.2s ease-in-out;
  }
  
  /* Styles for the slider track */
  .my-track {
    height: 4px;
   
    background-color: #8f8833;
    border-radius: 5px;
  }

  .my-track-2, .my-track-0{
    height: 4px;
    background-color: #727271;
    border-radius: 5px;
  }


.search-input{
    margin: 0 15px;
}

.myProducts{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}


.product{
    margin: 5px;
    border: 1px solid rgb(55, 54, 54);
    border-radius: 10px;
    height: 400px;
    /* height: 80%; */
    background-color: #0a0a0a;
    transition: .1s ;
    position: relative;

}

.product:hover{
    scale: 1.02;
    transition: .1s ;
}

.product:hover svg{
    color: #ff3d00;
}

.favorite{
    position: absolute;
    top: 5px;
    right: 10px;
    color: #ff3d00;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.fav{
    position: absolute;
    top: 10px;
}

.product-img{
    width: 100%;
    height: 65%;
    position: relative;   

    border-radius: 10px;
}

.product img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.product-info, .product-btns{
    padding:0 20px;
}

.product-info p{
    margin: 10px 0;
}

.product-info .info-name{
    color: #ffffff;
    font-weight: 1.2rem;
    font-weight: 600;
    
}

.product-info .info-desc{
    color: #ffffffb5;
    font-weight: 500;
    font-size: 14px;
    margin: 0;
}

.product-btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-btns p{
 
    margin: 0;
}


/* SINGLE PRODUCT */
.single-product-container{
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
    margin: 20px 0;
}
.single-product-container > section{
    padding: 20px;
    border: 1px solid gray;

}

.single-product-image{
    height: 500px;
    width: 500px;
    overflow: hidden;
}

.single-product-image img{
    width: 100%;
    height: 100%;
}

.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.sliding-image{
    height: 500px;
    width: 500px;
}
  


/* nth child of the class above */
.product-info{
    display: flex;  
    flex-direction: column;
    /* height: 25%; */

}

.product-info h1{
    margin: 0;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 600;
}

.product-info .info-price{
    margin: 20px 0;
}
.single-product-container > section:nth-child(1){
    width: 80%;
    border-right: none;
    display: flex;
    flex-direction: row;
}

.product-info img{
    /* width: 200px;
    height: 200px; */
    width: 300px;
    height: 400px;
    object-fit: contain;
    border-radius: 10px;
}

.product-info .warning p{
    color: rgb(223, 65, 65);
}


.product-content.cart{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.product-content.cart .heading{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.product-content.cart .heading h2{
    margin: 0;
    font-size: 15px;
    font-weight: 600;
    
}

.seller-info{
    position: relative;
}




.next-button{
    position: absolute;
    top: 35%;
    right: 0;
    transform: translateY(-50%);
    border: none;
    font-size: 22px;
    cursor: pointer;
    opacity: 0.3;
    transition: opacity 0.2s ease-in-out;
  }
  
  .next-button:hover {
    opacity: 1;
  }
  
  .prev-button {
    position: absolute;
    top: 35%;
    left: 0;
    transform: translateY(-50%);
    border: none;
    font-size: 22px;
    cursor: pointer;
    opacity: 0.3;
    transition: opacity 0.2s ease-in-out;
    
  }

  polygon{
    color: white;
  }

  .product svg{
    color: #ffffff;
    transition: all 0.3s ease;
  }
  
  .prev-button:hover {
    opacity: 1;
  }


  /* OTHER IMAGES STYLES */
  .other-images{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
  }

  .other-images .image{
    width: 100px;
    height: 100px;
    margin: 0 10px 10px 0;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .other-images .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  .popup-content{
    height: 100vh;    
    /* width: 90%; */
    overflow: scroll;
  }

    .popup-content::-webkit-scrollbar {
        width: 10px;
        color: #8a0505;
    }

    .popup-content::-webkit-scrollbar-track {
        background: #e2e2e200;
        
    }

  .image-popup{
    width:500px;
    height: auto;
    margin: 20px;
  }

    .image-popup img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

    .no-products-filters{
        width: 100%;
        height: 100%;
        background-color: #00000000;
        display: grid;
        place-items: center;
    ;
    }

@media screen and (min-width: 1200px){
    .products{
        grid-template-columns: repeat(5, 1fr);
    }
    .product-content.cart{
        width: 30%;
    }
}

@media screen and (max-width: 1200px){
    .products{
        grid-template-columns: repeat(4, 1fr);
    }
   
}

@media (min-width: 900px) {
    .filters.mobile{
        display: none;
    }
}
    
@media screen and (max-width: 900px){
    .products{
        grid-template-columns: repeat(3, 1fr);
    }
    .filters-desktop{
        display: none;
    }
  
    .products-header{
        display: flex;
        align-items: center;
        
        position: relative;
    }

    .toggle-filters-button{
        display: block;
    }
    
    .filters{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin: 0 15px;
        position: absolute;
        right: -5px;
        top: 100%;
        width: 95%;
        z-index: 999;
        background-color: #0a0a0a;
        border-radius: 10px;
        padding: 10px;
        box-shadow: 0 0 10px 0px rgba(0,0,0,0.5);
        transition: all 0.3s ease;
        
    }
}

@media screen and (max-width: 600px){
    .products{
        grid-template-columns: repeat(2, 1fr);
    }
    .product{
        height: 100%;
    }
    .single-product-container{
        flex-direction: column;
        padding: 0;

    }

    .single-product-container > section:nth-child(1){
        width: 100%;
        border-right: 1px solid gray;
        display: flex;
        flex-direction: column;
    }

    .product-info img{
        aspect-ratio: 1/1;
        width: 100%;
        height: 100%;
    }

    .image-popup{
        width: 90%;
        /* height: 300px */
    }
    .info-description{
        display: none;
    }
    .single-product-image{
        height: 50vh;
        width: 80%;
        margin: 0 auto;
    }
}