.profile-container {
    padding: 20px;
    margin: 0 auto;
    display: flex;
  }

  .profile-container >section{
    border: 1px solid #d9dadf64;
    padding: 20px;
  }

  /*pick the first section using nth-child */
  .profile-container >section:nth-child(1){
    width: 30%;
  }

  /*pick the second section using nth-child */

  .profile-container >section:nth-child(2){
    width: 70%;
  }
  
  .profile-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .profile-details {
    display: flex;
  }
  
  .profile-avatar img {
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .profile-info {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .profile-info p{
    margin: 3px 0;
  }
  
  .profile-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .profile-email,
  .profile-phone {
    font-size: 16px;
    margin-bottom: 0px;
  }
  

  .profile-nav{
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
  }

  .profile-nav .active{
    background-color: rgba(255, 255, 255, 0.727);
  }

  .profile-nav .active p{
    color: #000;
  }

  .profile-nav >div{
    margin-right: 10px;
  }

    .profile-nav-item p{ 
        margin: 0;
    }

  .profile-nav .profile-nav-item{
    border: 1px solid #d9dadf64;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
  }

  .logout-btn{
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 20px;
    cursor: pointer;
  }

  .edit-btn{
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 20px;
    cursor: pointer;
  }
  
/* SLIDER STYLES */
.slider {
  position: relative;
  width: 90%;
  overflow: hidden;
}

.slider p{
  color: cadetblue;
}


.slider-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 100%;
}

.slider-slide {
  flex: 0 0 100%;
  width: 100%;
  height: 100%;
}

.slider-next {
  position: absolute;
  bottom: -10px;
  right: 0%;
  color: #4b59f7;
  border: none;
  background-color: transparent;
  font-size: 16px;
  cursor: pointer;
}


/* POPUP CSS   */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  z-index: 1;
}

.popup {
  background-color: rgb(23, 22, 22);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}


.popup h2 {
  margin-top: 0;
}
.image-section {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.current-image {
  max-width: 150px;
  margin-right: 20px;
}

.no-image {
  color: #999;
}

.change-image-btn {
  display: block;
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}

.change-image-btn:hover {
  background-color: #3e8e41;
}

#image-upload {
  display: none;
}

.btn-section {
  display: flex;
  justify-content: flex-end;
}


.popup label {
  display: block;
  margin-bottom: 5px;
}

.popup textarea,
.popup input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.popup button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.popup button:hover {
  background-color: #3e8e41;
}

.popup button[type="submit"] {
  background-color: #008cba;
}

.popup button[type="submit"]:hover {
  background-color: #0078a0;
}

.popup button:last-of-type {
  background-color: #f44336;
}

.popup button:last-of-type:hover {
  background-color: #d32f2f;
}

.close-btn{
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}


  @media screen and (max-width: 768px) {
    .profile-container {
      flex-direction: column;
    }
  
    .profile-container >section:nth-child(1){
      width: 100%;
    }
  
    .profile-container >section:nth-child(2){
      width: 100%;
    }

    .profile-nav-item p{ 
      text-align: center;
  }
  
    
  }