


.cart-page {
    max-width: 800px;
    margin: 10px auto;
    padding: 20px;
    background-color: #19191900;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }
  
  .cart-page h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .cart-item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 20px;
  }
  
  .item-details {
    flex-grow: 1;
  }
  
  .item-details p {
    margin: 0;
    font-size: 18px;
  }
  
  .item-details .quantity {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .item-details .quantity button {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 5px 10px;
    font-size: 18px;
    cursor: pointer;
  }
  
  .item-details .quantity span {
    margin: 0 10px;
    font-size: 24px;
  }
  
  .total-price {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
  }
  
  .total-price p {
    margin: 0;
  }

  @media (max-width:600px) {
    .cart-item{
      align-items: flex-end;
    }
    
  }