.help-page {
    padding: 2rem;
    font-size: 1.2rem;
    width: 60%;
    margin: 0 auto;
  }
  
  .help-page h1,
  .help-page h2 {
    margin-bottom: 1rem;
  }
  
  .help-page h1 {
    font-size: 2.5rem;
  }
  
  .help-page h2 {
    font-size: 1.8rem;
  }
  
  .help-page p {
    margin-bottom: 1rem;
  }
  