.join-container{
   height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}


.join-items{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px 20px;
    font-size: 18px;
    color: #206e08;
}



.item{
    margin: 0 10px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.client{
    border: 1px solid #206e08;
}

.item:hover{
    border: 1px solid #206e08;
}

.join-wrapper a{
    text-decoration: none;
}


.join-wrapper h1{
    
    color: #334a09;
    margin-bottom: 50px;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.6px;
    text-align: center;
    font-weight: bolder;
    
}

.join-wrapper{
    border: 1px solid #206e08;

    border-radius: 10px;
    padding: 20px;
    width: 60%;
}

.join-btn a{
    background-color: #206e08;
    width: 50%;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.6px;
    text-align: center;
    font-weight: bolder;
    margin: 20px;
}

.join-btn-wrapper{
    margin-top: 50px;
   text-align: center;
}


/* media queries */

@media screen and (max-width: 500px){
    .join-wrapper{
        width: 100%;
    }
    .join-items{
        flex-direction: column;
        
    }
    .item{
        margin: 10px 0;
        width: 100%;
    }
}