
.hero-landing{
    background-image: url("https://images.unsplash.com/photo-1514254651968-1c86261335e9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

}

.hero-landing .hero{
    width: 100%;
}

.hero-text, .hero-btn{
    width: 50%;
    padding: 20px;
}



.hero-text h1{
    font-size: 50px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

.hero-text p{
    font-size: 14px;
    font-weight: 400;
    line-height: 2.14;
    margin-top: 22px;
}

/* Button.css */

.button {
    position: relative;
    display: inline-block;
    padding: 16px 32px;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px  solid white;
    cursor: pointer;
    overflow: hidden;
  }
  
  .button span {
    position: relative;
    z-index: 1;
  }
  
  .button::before {
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgb(113, 110, 110);
    z-index: 1;
    transition: height 0.3s ease-in-out, top 0.3s ease-in-out;
  }

  .button a{
    display: table;
  }


.button:hover{
    color: rgb(0, 0, 0);
}
  
  .button:hover::before {
    height: 100%;
    top: 0;
  }
  


  @media screen and (max-width: 500px) {
    .hero-text, .hero-btn{
        width: 80%;
        margin: 0 auto;
    }
  
    
  }