
.orders{
    margin: 20px 0;
}
.order{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #e6e6e635;
    border-radius: 5px;
    position: relative;
    margin: 10px 0;
    position: relative;
}

.cancel-myorder{
    display: flex;
    align-items: center;
    position:absolute;
    top: 3px;
    right: 3px;
    font-size: 20px;
    color: rgb(167, 28, 28);
}

.order:hover {
    scale: 1.008;
}

.orders p{
    margin: 3px 0;
    font-size: 16px;
    font-weight: 500;
}

.order-img{
    width: 100px;
    height: 100px;
    margin-right: 20px;

}

.order-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px; ;
}

.left{
    display: flex;
    align-items: center;
}

.right{
    text-align: right;
}

.order-time{
    position: absolute;
    bottom: 2px;
    right: 2px;
    width: 150px;
    text-align: right;
}

.order-time p{
    font-size: 10px;
    font-weight: 400;
}