
.post-items{
    width: 100%;
    height: 100%;
    padding: 20px 0;
}

.post-items a{
    text-decoration: none;
    color: #4b59f7;
}

.add-post{
    padding: 10px ;
    width: 50%;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    transition: .5s;

}

.add-post:hover{
    background-color: #e6e6e6;
    color: black;
    transition: 0.5s;
}