.largeScreen{
    display: none;
}

.instagram-wrapper{
    background-color: #fff;
    padding: 5px;
    height: 90vh;
}

.instagram-wrapper svg{
    margin-right: 5px;
}

.profile-name{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.profile-name h3{
    color: black;
    margin: 10px;
}


.ig-profile img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.ig-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 80px;
   
}

.profile-detail h4{
    color: #000;
    margin-bottom: 5px;
}

.profile-detail p{
    margin-top: 0;
}

.ig-followers{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.ig-followers >p{
    margin: 0;
}

.count{
    font-weight: bolder;
    font-size: 20px;
}

.follow-wrapper{
    width: 100%;
}

.ig-follow{
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.ig-follow > p{
    border-radius: 1px solid black;
    width: 45%;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(224, 222, 222);
    cursor: pointer;
}

@media screen and (min-width: 600px){
    .instagram-wrapper{
        display: none;
    }
    .largeScreen{
        display: flex;
        color: black;
        justify-content: center;
        align-items: center;
    }
    .largeScreen a{
        color: black;
        text-decoration: none;
    }
    
}
    
