
footer{
    background: #001e00;
    position: relative;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 30px;
    
  }
  footer ul{
    list-style: none;
    margin-left: 0px;
    
   
  }
  footer ul li:hover{
    text-decoration: underline;
    color: wheat;
  }
  footer ul li{
    color: white;
    font-size: 13px;
    margin-bottom: 10px;
  }
  footer a, footer h3{
    text-decoration: none;
    color: white;
  }
  footer h3{
    font-size: 15px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
  }
  footer .row{
    display: flex;
    margin-right: 20px;
    padding-right: 15px;
    justify-content: space-around;
    align-items: start;

  }
  footer .row div{
  }
  
  
  
  footer ul {
    padding: 0;
    list-style-type: none;
  }
  
  
  .arrays p{
    font-size: 14px;
      color: white;
  }
  .arrays h1{
    width: 100%;
    margin-bottom: 40px;
  }
  .arrays{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
  }
  .array-item{
    width: 25%;
  }
  .array-item h3{
    color: white;
    font-size: 30px;
    margin: 0;
  }

  .social-media .social-icons{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;    
  }

  .social-icons > li{
    margin: 0 10px;
  }

  .social-icons svg{
    color: white;
  }

  .partners{
    color: aliceblue;
    text-align: center;
  }
.partners-logos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.partners-logos > div{
    margin: 10px;
}
  
  
  @media (max-width:700px) {
    footer .row{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    
      width: 100%;
    }
    footer .row div{
      width: 100%;
    }
    .social-media .social-icons{
      width: 25%;
    }
    .array-item{
      width: 50%;
    }
  }
  
  
  @media (max-width:580px){
    .array-item{
      width: 100%;
    }
   
  }
  
  
  /* .open-popup{
    display: flex;
    justify-content: center;
    align-items: center;
   
    font-size: 20px;
  }
  .open-popup button{
    font-size: 20px;
    font-weight: bold;
  } */