*{
  box-sizing: border-box;
}
body{
  background: radial-gradient(circle at 24.1% 68.8%, rgb(22, 22, 22) 0%, rgb(0, 0, 0) 99.4%);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

  color: #f5f5f5;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
    color: #f5f5f5;
}

a{
  text-decoration: none;
  color: #f5f5f5;
}

input, textarea, select{
  border-color: #000000;
  border-bottom: 1px solid #ffffff2c;
  background-color: #00000000;
  color: #f5f5f5;
}

option{
  background-color: #000000;
  color: #f5f5f5;
}

span{
  color: #3d6a17;
}